
<h1 *ngIf="isvalid">this is if text</h1>
<h1>Age is {{age}}/h1>

<h1  *ngFor="let age of ages">{{age}}</h1>

<select name="" id="">
    <option value="" *ngFor="let state of states">{{state}}</option>
</select>

<ul>
    <li *ngFor="let state of states">{{state}}</li>
    
</ul>

<table>
    <thead>
        <tr>
            <th>name</th>
            <th>Age</th>

            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.name}}</td>
            <td>{{user.age}}</td>

            
        </tr>
    </tbody>
</table>

<table border="1">
    <thead>
        <tr>
            <th>name</th>
            <th>price</th>
            <th>rating</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
            <td>{{product.name}}</td>
            <td [ngClass]="{'green': product.price>5000,'red':product.price<=2000}">{{product.price}}</td>
            <td [ngStyle]="{'color' :product .rating >4?'green':'red'}">{{product.rating}}</td>
        </tr>
        
    </tbody>
</table>