<h1 class="color">create vehicle</h1>
<form [formGroup]="vehicleForm">
    <label for="">vehicle</label>
    <input type="text" formControlName="vehicle">
    <br>

    <label for="">manufacturer</label>
    <input type="text" formControlName="manufacturer">
    <br>

    <label for="">model</label>
    <input type="text" formControlName="model">
    <br>

    <label for="">Type</label>
    <input type="text" formControlName="type">
    <br>

    <label for="">Fuel</label>
    <input type="text" formControlName="fuel">
    <br>

    <label for="">color</label>
    <input type="text" formControlName="color">
    <br>

    <label for="">image</label>
    <input type="text" formControlName="image">
    <br>

    <label for="">cost</label>
    <input type="text" formControlName="cost">
    <br>



    <button (click)="submit()">submit</button>


</form>
