<p>create-user works!</p>
<form [formGroup]="userForm">
    <label for="">Name:</label>
    <input type="text" formControlName="name">
    <div *ngIf="userForm.get('name')?.touched && userForm.get('name')?.invalid">
      <p class="error" *ngIf="userForm.get('name')?.errors?.['required']">Name is required</p>
      <p class="error" *ngIf="userForm.get('name')?.errors?.['minlength']">Minimum 3 char</p>
      <p class="error" *ngIf="userForm.get('name')?.errors?.['maxlength']">Maximum 10 char</p>
      
    </div>
    <br>

    <label for="">Age:</label>
    <input type="number" formControlName="age">
    <div *ngIf="userForm.get('age')?.touched && userForm.get('age')?.invalid">
      <p class="error" *ngIf="userForm.get('age')?.errors?.['required']">Age is required</p>
      <p class="error" *ngIf="userForm.get('age')?.errors?.['min']">Minimum 10 char</p>
      <p class="error" *ngIf="userForm.get('age')?.errors?.['max']">Maximum 20 char</p>
      
    </div>

    <br>

    <label for="">Phone:</label>
    <input type="number" formControlName="phone">
     <div *ngIf="userForm.get('phone')?.touched && userForm.get('phone')?.invalid">
      <p class="error" *ngIf="userForm.get('phone')?.errors?.['required']">phone is required</p>
      <p class="error" *ngIf="userForm.get('phone')?.errors?.['min']">minimum length is 0</p>
      <p class="error" *ngIf="userForm.get('phone')?.errors?.['max']">Maximum length is 9</p>

     </div>

    
    <br>

    <label for="">Email</label>
    <input type="text" formControlName="email">
    <div *ngIf="userForm.get('email')?.touched && userForm.get('email')?.invalid">
      <p class="error" *ngIf="userForm.get('email')?.errors?.['required']">email is required</p>

    </div>

    <br>

    <label for="">password</label>
    <input type="text" formControlName="password">
    <div *ngIf="userForm.get('password')?.touched && userForm.get('password')?.invalid">
      <p class="error" *ngIf="userForm.get('password')?.errors?.['required']">password is required</p>
      <p class="error" *ngIf="userForm.get('password')?.errors?.['pattern']">password should contain 1c,1s,1n,1sc</p>
   </div>
   <div formGroupName="address">
    
    <label for="">City:</label>
    <input type="text" formControlName="city">
    <div *ngIf="userForm.get('address')?.get('city')?.touched && userForm.get('address')?.get('city')?.invalid">
      <p class="error" *ngIf="userForm.get('city')?.errors?.['required']">city is required</p>

   </div>
    <br>

    
    <label for="">Pin:</label>
    <input type="text" formControlName="pin">
    <br>
</div>
   <label for="">Type:</label>
   <label for="">DayScholer:</label>
   <input type="radio" name="type" formControlName="type" value="dayScholer">
   <label for="">Residential:</label>
   <input type="radio" name="type" formControlName="type" value="residential">
   <br>
<div *ngIf="userForm.get('type')?.value=='dayScholer'">
   <label for="">Bus fee:</label>
   <input type="text" formControlName="busfee">
</div>
   <br>
<div *ngIf="userForm.get('type')?.value=='residential'">
   <label for="">Hostel Fee:</label>
   <input type="number" formControlName="hostelfee">
</div>
   <br>
   <label for="">Cards</label>
   <button (click)="addcard()">add card</button>
   <br><br>

   <div formArrayName="cards">
    <div *ngFor="let card of cardsFormArrey.controls; let i=index">
        <div formGroupName="{{i}}">

             <h2>Card {{i+1}}</h2>
            <label for="">number:</label>
            <input type="text" formControlName="number">
          <div *ngIf="cardsFormArrey.controls[i]?.get('number')?.touched && cardsFormArrey.controls[i]?.get('number')?.invalid">
             <p class="error" *ngIf="cardsFormArrey.controls[i]?.get('number')?.errors?.['required']">card number is required</p>
          </div>
            <br>
            <label for="">expiry:</label>
            <input type="month" formControlName="expiry">
            <br>
            <label for="">cvv:</label>
            <input type="number" formControlName="cvv">
           <br> <br> <br>
           <button (click)="delete(i)">delete</button>
        </div>
    </div>
   </div> <br>

   <button (click)="submit()">submit</button>

   <br><br>
   <button [disabled]="userForm.invalid">submit2</button>
</form>