<label for="">Name</label>
<input type="text" [(ngModel)]="name"><br>
<label for="">price</label>
<input type="number" [(ngModel)]="price"><br>
<label for="">Rating</label>
<input type="number" [(ngModel)]="rating"><br>
<label for="">delivery date</label>
<input type="date" [(ngModel)]="deliverydate"><br>
<label for="">Free Delivery:</label>

<label for="">Yes</label>
<input type="radio" name="fd" value="true" [(ngModel)]="delivery">
<label for="">No</label>
<input type="radio" name="fd" value="false" [(ngModel)]="delivery"><br>

<button (click)="submit()">submit</button>

<h1>List of products</h1>

<table border="1" >
    <thead>
        <tr>
            <th>sno</th>
            <th>name</th>
            <th>price</th>
            <th>rating</th>
            <th>deliverydate</th>
            <th>delivery</th>
            <th>action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products; let i=index">
            <td>{{i+1}}</td>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td>{{product.rating}}</td>
            <td>{{product.deliverydate | date:'yyyy-MMM-dd'}}</td>
            <td>{{product.delivery}}</td>
            <td>
                <button (click)="delete(i)">delete</button>
            </td>
        </tr>
    </tbody>
</table>
