<div class="parent">

     <div class="child">
        <h3 style="color: red;">My website</h3><hr>
         <h3 routerLink="home">Home</h3>
         <h3 routerLink="welcome">welcome</h3>
         <h3 routerLink="databinding">Data-binding</h3>
         <h3 routerLink="calculator">calculator</h3>
         <h3 routerLink="Rectangle">rectangle</h3> 
         <h3 routerLink="circle">circle</h3>
         <h3 routerLink="BMI">BMI</h3>
         <h3 routerLink="Dice">Dice</h3>
         <h3 routerLink="directive">directive</h3>
         <h3 routerLink="pipes">pipes</h3>
         <h3 routerLink="tasks"> Tasks</h3>
         <h3 routerLink="flipcart"> Flipcart</h3>
         <h3 routerLink="higher-order"> higher-order</h3>
         <h3 routerLink="employee-detailes">Employee-detailes</h3>
         <h3 routerLink="vehicle">vehicle</h3> 
         <h3 routerLink="bank">Bank</h3>
         <h3 routerLink="flipcart1">flipcart1</h3>
         <h3 routerLink="cart">cart</h3>
         <h3 routerLink="amazon">Amazon</h3>
         <h3 routerLink="mail">Mail</h3>
         <h3 routerLink="createvehicle">create-vehicle</h3>
         <h3 routerLink="createbank">craete-bank</h3>
         <h3 routerLink="idcard">Student Idcard</h3>
         <h3 routerLink="studentdata">studentdata</h3>
         <h3 routerLink="create-user">create-user</h3>
         <h3 routerLink="duplicate-user">Duplicate-user</h3><br><br><br><br><br><br><br>
          <button class="button"  (click)="logout()"  >logout</button><br>
      </div>
     <div class="right">
      <router-outlet></router-outlet>
     </div>



    
</div>
